.letter {
    position: relative;

    &.active {
        background-color: yellow;
        border-radius: 10%;
        opacity: 0.3;
    }
}

.letter .correct {
    color: green;
}

.letter .incorrect {
    color: red;
}

.space {
    position: relative;

    &.active {
        background-color: yellow;
        border-radius: 10%;
        opacity: 0.5;
    }
}